p {
    margin: auto;
}
pre {
    cursor: pointer;
    padding: 20px 0;
    border-radius: 2px;
    transition: all 0.2;
    opacity: 0.8;
    &:hover {
        opacity: 1;
        outline: 1px solid darkblue;
    }
}